{% extends "layout.html" %}
{% load static %}
<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
{% block title %}Productos de {{ categoria.nombre }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Productos en la categoría: {{ categoria.nombre }}</h1>
    <table class="table table-bordered table-striped mt-4">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No hay productos en esta categoría.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}