{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>detalles</h1>
    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>${{ producto.precio }}</td>
                    <td>{{ producto.stock }}</td>
                </tr>
 
 
        </tbody>
    </table>
</div>
{% endblock %}